/*IMPORT ICONS*/
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/chevron-up.css");

/* IMPORT FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700;800&family=Frank+Ruhl+Libre:wght@700;800;900&display=swap");

/* Reset margins */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || Set up layout || */
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(3rem, auto);
}

.full-width {
  grid-column: 1/-1;
}

.grid-span-2-col {
  grid-column: span 2;
}

.grid-span-3-col {
  grid-column: span 3;
}

.top-right {
  grid-column: 4/7;
  grid-row: 1/2;
}

/* Sets up 2 rows then a third that spans the first two */
.grid-span-row-5-6 {
  grid-row: 5/6;
}
.grid-span-row-6-7 {
  grid-row: 6/7;
}
.grid-span-row-5-7 {
  grid-row: 5/7;
}

/* || Basic styling fonts || */

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: "Frank Ruhl Libre", serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

h4 {
  font-family: "Frank Ruhl Libre", serif;

  font-size: 1rem;
  font-weight: 900;
}

p,
li,
a {
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

/* || Colors || */

.white-text {
  color: #fff;
}

.blue-bg {
  background-color: #c7ddea;
}

.yellow-bg {
  background-color: #ffb939;
}

.orange-bg {
  background-color: #f17949;
}

.white-bg {
  background-color: #ffffff;
}

.dark-white-bg {
  background-color: #ebebeb;
}

.light-gray-bg {
  background-color: #a9a19e;
}

.dark-gray-bg {
  background-color: #777574;
}

/* || Style for main content || */

header {
  grid-row: 1/3;
  grid-column: 1/4;

  background-color: #c7ddea;
  background-image: url("./img/family.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 96% bottom;
  background-size: 17rem;

  min-height: 34rem;
  padding: 4rem 6rem 4rem 6rem;
}

header p {
  margin-right: 3rem;
}

/* aside styling */

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside p {
  color: rgba(0, 0, 0, 0.5);
}

/* nav styling */
nav {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
}

nav ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
}

nav li {
  font-size: 0.75rem;
  margin: 0 3.5rem;
}
nav a {
  color: rgba(0, 0, 0, 0.4);
}

li.chosen a {
  color: #000;
}

/* Sell article styling */

article {
  padding: 7rem 5rem 3rem 6rem;
}

article p {
  line-height: 1.5rem;
  margin-right: 2.5rem;
}

/* Card container position and style */

.card-container {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  width: 15.938rem;
  height: 19.375rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.card-img {
  margin-top: -2rem;
  border-radius: 5px;
  height: 9.5rem;
  width: 90%;
  flex-shrink: 0;

  overflow: hidden;

  display: flex;
  justify-content: center;
}
.card-img img {
  margin-top: 0.8rem;
  height: 108%;
}
.card:nth-of-type(2) .card-img img {
  height: 285%;
}
.card:nth-of-type(3) .card-img img {
  height: 260%;
}
.card-text {
  margin: 0 1.4rem;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.7rem;
  font-weight: 900;
  line-height: 1.5em;
  text-align: center;
}

article.about {
  padding: 7rem 5rem 0 6rem;
  min-height: 32rem;
}

/*styling and positioning for h1 "about us" tag in yellow middle part of page*/
.about h1 {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: -2.3rem;
}

/*styling and positioning for p tag(under about us) in yellow middle part of page*/
.about p {
  text-align: center;
  width: 62%;
  margin: 1rem auto;
  line-height: 1.5;
}

/*Positioning for 6 grid box items under main part*/
.square-box {
  aspect-ratio: 1/1;
  display: grid;
}

/*Styling for h1 tag in first box of the 6 boxes*/
.square-box h1 {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  margin: auto;
  line-height: 1;
  font-size: 45px;
}

/*Styling and positioning for <p> text inside the boxes*/
.square-box .text {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
}

/*Styling and positioning for <p> numbers inside the boxes*/
.square-box .number {
  font-family: "Frank Ruhl Libre", serif;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 35px;
  height: 0rem;
}

/*Styling for the footer and positiong for items inside*/
footer {
  background: #a9a19e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

/*Styling for the footer text*/
footer p {
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  padding: 0 0 0.5rem 0;
  margin-top: -0.9rem;
  margin-bottom: 0.7rem;
}

/*Dark grey spot in footer*/
.bottom-footer {
  height: 21.5rem;
  width: 100%;
}

/* || Reusable items || */

button {
  margin: 4rem 0;
  padding: 0.9rem 2.5rem;
  border-radius: 30px;
  border: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

  color: rgba(0, 0, 0, 0.8);
  font-family: "Fira sans", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
}

/*Up arrow style*/
.gg-chevron-up::after {
  width: 15px;
  height: 15px;
}
